body {
  position: relative;
  font-family: 'Poiret One', cursive;
  color: #FF6700;
  font-size: 16px;
  /* padding-top: 70px; */
}

#home{
	height: 100vh;
}

#home > img{
	position: absolute;
	top: 250px;
	left: 42.5%;
	background: rgba(192, 214, 223, 0.5);
	border-radius: 20px;

}

#home-title{
  position: absolute;
  top: 450px;
  left: 41%;
  text-align: center;
  color: #EBEBEB;
}

#about{
	padding-top: 70px;
	background-color: #71A9B8;
  height: 100vh;
  color: #EBEBEB;
}

#about hr{
  border-color: #EBEBEB;
}

#about-content{
  margin-top: 80px;
  font-size: 26px;
}

#profile-pic{
  border-radius: 50%;
  border: 1px solid #EBEBEB;
  margin: 40px 20px;
}

.section-title h2{
  text-align: center;
  font-weight: bold;
}

#projects{
	padding-top: 70px;
	background-color: #C0C0C0;
}

#skills{
  padding-top: 70px;
  background-color: #C0D6DF;
  height: 100vh;
}

.icons img{
  margin: 20px;
}

.logo1, .icons{
  text-align: center;
}

.logo1 img{
  margin-right: 50px;
  margin-top: 50px;
}

#contact{
  padding-top: 70px;
  background-color: #EBEBEB;
  height: 100vh;
}

hr{
  border-color: #FF6700;
}

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

a.arrow-down {
    width: 22px;
    height: 26px;
    display: block;
    position: absolute;
    top: 90vh;
    left: 50%;
    margin-left: -11px;
}

a.arrow-down .arrow-one {
    background-image: url('../images/arrow1.png');
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 26px;
    display: block;
    -webkit-animation: arrowfadeone 2s infinite;
    -moz-animation: arrowfadeone 2s infinite;
    -o-animation: arrowfadeone 2s infinite;
    animation: arrowfadeone 2s infinite;
    animation-timing-function: ease-out;
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
}

a.arrow-down .arrow-two {
    background-image: url('../images/arrow2.png');
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 26px;
    display: block;
    -webkit-animation: arrowfadetwo 2s infinite;
    -moz-animation: arrowfadetwo 2s infinite;
    -o-animation: arrowfadetwo 2s infinite;
    animation: arrowfadetwo 2s infinite;
    animation-timing-function: ease-out;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

.navbar{
	background: rgba(192, 214, 223, 0.8);
}

.navbar-default .navbar-nav>li>a {
    color: #EBEBEB;
}

.navbar-default {
    border: 0px;
}

.navbar-brand{
	padding: 0px 15px;
}
.navbar-brand > img{
	padding-top: 23px;
}

#Container{
    min-height: 500px;
}

#Container .mix{
    display: none;
    padding: 50px 0px;

}

.project-ph{
    text-align: center;
}

.control-bar{
    padding: 5px 30px;
    text-align: center;
   /*  background: rgba(231, 231, 231, 0.5); */
}

.btn-send{
  background-color: #FF6700;
  color: #EBEBEB;
}

.modal-content{
  height: 120px;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: #71A9B8;
  color: #EBEBEB;
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}




